@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-primary: rgb(26, 115, 232);
  --md-secondary: rgb(124, 77, 255);
  --md-success: rgb(56, 142, 60);
  --md-info: rgb(26, 115, 232);
  --md-warning: rgb(251, 140, 0);
  --md-error: rgb(244, 67, 54);
  --md-dark: rgb(66, 66, 74);
  --md-light: rgb(248, 249, 250);
  --md-white: rgb(255, 255, 255);
  
  --md-gradient-primary: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  --md-gradient-secondary: linear-gradient(195deg, rgb(163, 129, 255), rgb(124, 77, 255));
  --md-gradient-success: linear-gradient(195deg, rgb(102, 187, 106), rgb(56, 142, 60));
  --md-gradient-info: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  --md-gradient-warning: linear-gradient(195deg, rgb(255, 171, 64), rgb(251, 140, 0));
  --md-gradient-error: linear-gradient(195deg, rgb(239, 83, 80), rgb(244, 67, 54));
  --md-gradient-dark: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  
  --md-box-shadow-xs: 0 2px 9px -5px rgba(0, 0, 0, 0.15);
  --md-box-shadow-sm: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --md-box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --md-box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --md-box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --md-box-shadow-xxl: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(123, 128, 154);
  background-color: rgb(248, 249, 250);
}
